:root {
  /* FONTS */
  --primary-fonts: Roboto, sans-serif;
  --secondary-fonts: Raleway, sans-serif;

  /* FONTS COLOR */
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --third-text-color: #f4f4fd;

  /* ACCENT COLOR */
  --primary-accent-color: #404bbf;
  --secondary-accent-color: #4d5ae5;
  --third-accent-color: #31d0aa;

  /* BACKGROUN-COLOR */
  --primary-background-color: #ffffff;
  --secondary-background-color: #2e2f42;
  --third-background-color: #f4f4fd;
  --border-color: #e7e9fc;
  --secondary-border-color: #8e8f99;

  /* MODAL-BG-COLOR */
  --backdrop-background-color: rgba(46, 47, 66, 0.4);
  --modal-background-color: #fcfcfc;
  --modal-btn-color: #e7e9fc;
  --modal-icon-color: #2e2f42;
  /* FORM TEXT COLOR */
  --form-text-color: #8e8f99;
  --form-border-color: rgba(46, 47, 66, 0.4);
  --form-icon-color: #2e2f42;

  /* ICONS COLOR */
  --social-icons-color: #f4f4fd;
  --customer-icon-color: #8e8f99;

  /* ANIMATION */

  --anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* Z-INDEX */
  --header-idx: 10;
  --modal-idx: 100;
}

/* ANIMATIONS  */

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  1.5%,
  4.5%,
  7.5% {
    transform: translateX(5px);
  }
  3%,
  6%,
  9% {
    transform: translateX(-5px);
  }
  10% {
    transform: translateX(0);
  }
}

@keyframes vertical-shaking {
  0% {
    transform: translateY(0);
  }
  1.5%,
  4.5%,
  7.5% {
    transform: translateY(5px);
  }
  3%,
  6%,
  9% {
    transform: translateY(-5px);
  }
  10% {
    transform: translateY(0);
  }
}

/**
  |============================
  | Visualy-hidden H2 H1 utilita
  |============================
*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/**
  |============================
  | BASE STYLE
  |============================
*/
body {
  /* padding-top: 72px; */
  font-family: var(--primary-fonts);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  background-color: var(--primary-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  width: 1158px;
  /* outline: 2px solid tomato; */
}

.list {
  list-style: none;
}

.link {
  color: currentColor;
  text-decoration: none;
}

.title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  text-transform: capitalize;
}

.subtitle {
  margin-bottom: 8px;

  color: var(--secondary-text-color);
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.text {
  font-size: 16px;
  line-height: 1.5;
}

.btn {
  display: inline-block;

  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;
  border-radius: 4px;
}

/* INDEX PAGE */
/**
  |============================
  | HEADER STYLE
  |============================
*/

.header-container {
  display: flex;
  align-items: center;
}

/* HEADER NAV */
.header {
  /* position: fixed;
  top: 0;
  left: 0; */

  width: 100%;

  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

  border-bottom: 1px solid var(--border-color);
}
.header-nav {
  margin-right: auto;

  display: flex;
  align-items: center;
}
.logo {
  color: #4d5ae5;
  font-family: var(--secondary-fonts);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo {
  margin-right: 76px;
  padding: 25.5px 0;

  display: block;
}

.logo-span {
  color: #2e2f42;
}

.header-nav-list {
  display: flex;
  gap: 40px;
}

.header-link {
  position: relative;

  display: block;
  padding: 24px 0;

  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  transition: color var(--anim-fast);
}

.header-link:hover,
.header-link:focus {
  color: var(--primary-accent-color);
}

.header-link.active {
  color: var(--primary-accent-color);
}

.header-link::after {
  content: '';
  position: absolute;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;

  border-radius: 2px;
}

.header-link.active::after {
  background-color: var(--primary-accent-color);
}

/* HEADER ADRRESS */
.header-address-list {
  display: flex;
  gap: 40px;
}

.address-link {
  padding: 24px 0;

  display: block;

  font-style: normal;

  transition: color var(--anim-fast);
}

.address-link:hover,
.address-link:focus {
  color: var(--primary-accent-color);
}

/**
  |============================
  | HERO STYLE
  |============================
*/

.hero {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 188px;
  padding-bottom: 188px;

  text-align: center;

  background-color: var(--secondary-background-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-bgi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  max-width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;

  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-button {
  padding: 16px 32px;

  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;

  color: #ffffff;

  background-color: var(--secondary-accent-color);
  border: none;

  transition: background-color var(--anim-fast);
  animation: horizontal-shaking 6s infinite;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--primary-accent-color);
}

/**
  |============================
  | FEATURES STYLE
  |============================
*/
.features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  flex-basis: calc((100% - 24px * 3) / 4);
}

/* FEATURES ICONS STYLE */

.features-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  margin-bottom: 8px;

  background: var(--third-background-color);
  border-radius: 4px;
}

/**
  |============================
  | ABOUT STYLE
  |============================
*/

.about {
  padding-bottom: 120px;
}

.about-title {
  margin-bottom: 72px;
}

.about-list {
  display: flex;
  gap: 24px;
}

.about-item {
  flex-basis: calc((100% - 24px * 2) / 3);
}

/**
  |============================
  | EMPLOYEE STYLE
  |============================
*/
.employee {
  padding: 120px 0;

  background-color: var(--third-background-color);
}

.employee-title {
  margin-bottom: 72px;
}

.employee-list {
  display: flex;
  gap: 24px;
}

.employee-item {
  flex-basis: calc((100% - 24px * 3) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.employee-description {
  padding-top: 32px;
  padding-bottom: 32px;
}

.employee-text {
  margin-bottom: 8px;
  text-align: center;
}

/* EMPLOYEE SOCIAL ICONS */

.employee-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.employee-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  color: var(--social-icons-color);

  background-color: var(--secondary-accent-color);
  border-radius: 50%;

  transition: background-color var(--anim-fast);
}

.employee-social-link:hover,
.employee-social-link:focus {
  background-color: var(--primary-accent-color);
}

.employee-social-icon {
  fill: currentColor;
}

/**
  |============================
  | CUSTOMERS STYLEA
  |============================
*/

.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-title {
  margin-bottom: 72px;
}

.customers-social-list {
  display: flex;
  gap: 24px;
}

.customers-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;

  color: var(--customer-icon-color);

  border: 1px solid var(--secondary-border-color);
  border-radius: 4px;

  transition: border-color var(--anim-fast), color var(--anim-fast);
}

.customers-social-link:hover,
.customers-social-link:focus {
  border-color: var(--primary-accent-color);
  color: var(--primary-accent-color);
}

.customer-social-icon {
  fill: currentColor;
}

/**
  |============================
  | FOOTER STYLE
  |============================
*/
.footer {
  padding-top: 100px;
  padding-bottom: 100px;

  color: var(--third-text-color);

  background-color: var(--secondary-background-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.logo-container {
  margin-right: 120px;
}

.footer .logo {
  margin-bottom: 16px;

  display: inline-block;
}

.footer-span {
  color: #f4f4fd;
}

.footer-text {
  width: 264px;
}

/* FOOTER SOCIAL STYLE */

.footer-social-text {
  margin-bottom: 16px;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  color: var(--social-icons-color);

  background-color: var(--secondary-accent-color);
  border-radius: 50%;

  transition: background-color var(--anim-fast);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--third-accent-color);
}

.footer-social-icon {
  fill: currentColor;
}

/* SUBSCRIBE STYLES */

.subscribe-container {
  margin-left: 80px;
}
.subscribe-form {
}
.subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  color: #ffffff;
}
.subscribe-wrapper {
  display: flex;

  gap: 24px;
}
.subscribe-input {
  width: 264px;
  height: 40px;
  padding-left: 16px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;

  border: 1px solid #ffffff;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  border-radius: 4px;
}

.subscribe-input::placeholder {
  color: #ffffff;
}

.subscribe-button {
  display: flex;
  gap: 24px;
  align-items: center;

  padding: 8px 24px;

  width: 165px;
  height: 40px;

  border: none;
  color: #ffffff;
  background-color: var(--secondary-accent-color);
  animation: vertical-shaking 6s infinite;
}
.subscribe-icon {
  fill: #ffffff;
}

/* PORTFOLIO-PAGE */

/**
  |============================
  | PORTFOLIO BUTTON STYLE
  |============================
*/

.portfolio-button-list {
  margin-bottom: 72px;

  display: flex;
  gap: 24px;
  justify-content: center;
}

.portfolio-button {
  padding: 12px 24px;

  min-width: 69px;
  min-height: 48px;

  color: var(--secondary-accent-color);

  border: 1px solid var(--border-color);
  background-color: var(--third-background-color);

  transition: color var(--anim-fast), border-color var(--anim-fast),
    background-color var(--anim-fast), box-shadow var(--anim-fast);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: #ffffff;
  border-color: 1px solid transparent;
  background-color: var(--primary-accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/**
  |============================
  | PORTFOLIO STYLE
  |============================
*/

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-img-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  flex-basis: calc((100% - 48px * 2) / 3);
}

.portfolio-link {
  display: block;

  transition: box-shadow var(--anim-fast);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* PORTFOLIO overlay action*/
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  color: var(--third-text-color);
  background-color: var(--secondary-accent-color);

  transform: translateY(100%);
  transition: transform var(--anim-fast);
}

.portfolio-link:hover .overlay-text,
.portfolio-link:focus .overlay-text {
  transform: translateY(0);
}

.portfolio-description {
  padding: 32px 16px;

  border: 1px solid var(--border-color);

  border-top: none;
}

/**
  |============================
  | MODAL WINDOW
  |============================
*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--backdrop-background-color);
  /* backdrop-filter: blur(1px); */
  z-index: var(--modal-idx);

  transition: opacity var(--anim-fast), visibility var(--anim-fast);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: scale(1.2) translate(-50%, -50%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: scale(1) translate(-50%, -50%);

  padding: 72px 24px 24px 24px;
  width: 408px;
  min-height: 576px;

  background-color: var(--modal-background-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform var(--anim-fast);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  transition: background-color var(--anim-fast), border var(--anim-fast);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  width: 24px;
  height: 24px;

  color: var(--modal-icon-color);
  background-color: var(--modal-btn-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--primary-accent-color);
  border: none;
  color: white;
}

.modal-close-icon {
  fill: currentColor;
  transition: fill var(--anim-fast);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: currentColor;
}

/* FORM STYLE */

.modal-title {
  display: block;
  margin-bottom: 16px;
  text-align: center;
  font-weight: 500;
  color: var(--secondary-text-color);
}
.modal-form {
}
.form-label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--form-text-color);
}
.form-wrapper {
  position: relative;
  margin-bottom: 8px;
}
.form-field {
  width: 100%;
  height: 40px;
  padding: 0;
  padding-left: 38px;
  padding-right: 28px;

  border: 1px solid var(--form-border-color);
  outline: transparent;
  outline-offset: -1px;
  border-radius: 4px;
  transition: outline var(--anim-fast);
}

.form-field:focus {
  outline: 1px solid var(--secondary-accent-color);
}

.form-field:focus + .form-icon {
  fill: var(--secondary-accent-color);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;

  transform: translateY(-50%);
  transition: fill var(--anim-fast);
  pointer-events: none;

  fill: var(--form-icon-color);
}

.form-info {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%) scale(0);
  opacity: 0;
  transition: opacity var(--anim-fast), fill var(--anim-fast),
    transform var(--anim-fast);

  fill: var(--form-icon-color);
}

.form-field:not(:placeholder-shown):focus:required:invalid ~ .form-info {
  opacity: 1;
  fill: rgb(219, 26, 26);
  transform: translateY(-50%) scale(1);
}

.form-field:not(:placeholder-shown):focus:required:valid ~ .form-info {
  opacity: 1;
  fill: rgb(58, 189, 58);
  transform: translateY(-50%) scale(1);
}

.form-comment {
  display: block;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  margin-bottom: 16px;

  transition: outline var(--anim-fast);

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);

  outline: transparent;
  outline-offset: -1px;
  border: 1px solid var(--form-border-color);
  border-radius: 4px;
  resize: none;
}

.form-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.form-comment:focus {
  outline: 1px solid var(--secondary-accent-color);
}

.form-agreement {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}
.form-check-input {
  /* appearance: none; */
  color: rgba(46, 47, 66, 0.4);
}

.form-agreement-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--form-text-color);
}

.form-agreement-link {
  color: var(--secondary-accent-color);
}

.form-check-input ~ .form-custom-check {
  outline: transparent;
  outline-offset: -1px;
  border-radius: 4px;
  transition: outline var(--anim-fast);
}

.form-check-input:focus ~ .form-custom-check {
  outline: 1px solid var(--secondary-accent-color);
}

.form-btn {
  padding: 16px 32px;

  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;

  color: #ffffff;

  background-color: var(--secondary-accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--anim-fast);
}

.form-btn:hover,
.form-btn:focus {
  background-color: var(--primary-accent-color);
}

/* SVG CHECKBOX */

.unchecked {
  opacity: 1;
  transition: opacity var(--anim-fast);
}

.checked {
  opacity: 0;
  transition: opacity var(--anim-fast);
}

.form-check-input:checked + .form-custom-check > .unchecked {
  opacity: 0;
}

.form-check-input:checked + .form-custom-check > .checked {
  opacity: 1;
}
